$color-info: #2da3ce
$color-info-dark: darken($color-info, 5%)
$color-info-light: lighten($color-info, 5%)

$color-error: #e85e4c
$color-error-dark: darken($color-error, 5%)
$color-error-light: lighten($color-error, 5%)

$color-warning: #ffcc00
$color-warning-dark: darken($color-warning, 5%)
$color-warning-light: lighten($color-warning, 5%)

$color-success: #99cc33
$color-success-dark: darken($color-success, 5%)
$color-success-light: lighten($color-success, 5%)
